[Unit]
Description = mABR unicast to multicast module
After = network.target


[Service]
Environment = CONFIGS=sample-u2m.conf sample2-u2m.conf

WorkingDirectory = /home/cdn/mabr

ExecStart = /usr/bin/python2.7 u2m.py $CONFIGS

User = username
Restart=always


[Install]
WantedBy = multi-user.target
