#
# Config file template for the u2m.py script.
#


[general]
#
# url to the live mpd
#
ingestfqdn=example.host
mpdpath=/folder/manifest.mpd


#
# Repeate the following block for each representation, which must be 
# transmitted over multicast. The name of the block must be identical
# with the id of the representation in the mpd file.
#
[$RepresentationoID$]	

#
# The destination multicast IP address and port
#
mcast_grp=239.0.1.1
mcast_port=2000

#
# A static ssrc for this representation to avoid ssrc changes by daemon restart.
#
ssrc=1
