[Unit]
Description = mABR unicast to multicast module
After = network.target


[Service]
Environment = CONFIG=sample-u2m.conf

WorkingDirectory = /home/cdn/mabr

ExecStart = /usr/bin/python2.7 u2m.py $CONFIG

User = username
Restart=always


[Install]
WantedBy = multi-user.target
