[Unit]
Description = channel 01
After = network.target


[Service]
WorkingDirectory = /home/cdn/mabr/cast
ExecStartPre = /bin/mkdir -p output/ch01/

ExecStart = /home/cdn/gpac/bin/gcc/DashCast -v big_buck_bunny_1080p_h264.mov -vfr 24 -conf big_buck_bunny_480p_stereo.conf -live-media -out output/ch01 -mpd ch01.mpd -log-file /var/log/dashcast/ch01.log -min-buffer 5.0

User = cdn
ExecStopPost = /bin/rm -rf output/ch01

[Install]
WantedBy = multi-user.target
