[Unit]
Description = channel 02
After = network.target


[Service]
Environment = INPUT=big_buck_bunny_1080p_h264.mov NAME=ch02 DST=output/ch02

WorkingDirectory = /home/cdn/mabr/cast
ExecStartPre = /bin/mkdir -p $DST

ExecStart = /usr/local/bin/ffmpeg -re -stream_loop -1 \
  -c:v h264_cuvid -i $INPUT \
  -c:v h264_nvenc -b:v 3.5M \
  -f dash -min_seg_duration 1000 \
          -use_template 1 \
          -use_timeline 0 \
  ${DST}/${NAME}.mpd

User = cdn
#ExecStopPost = /bin/rm -rf $DST


[Install]
WantedBy = multi-user.target
